* {
    background-color: black;
    font-style: italic;
    margin-left: 15px;
}
img {
    width: 180px;
    margin: 1.5rem;
    height: 180px;
    border-radius: 50px;
    border: 4px solid;
    object-fit: cover;
}

h2 {
    color: yellowgreen;
    font-style: normal;
}

h3 {
    color: yellowgreen;
    font-style: normal;
}

p {
 color: azure;
}

a {
    font-style: normal;
}



